{% extends 'base.html' %}
Добро пожаловать в {{ title }}  <br>.
Тут собрано {{ books|length }} книг из моей личной коллекции.
 {% load static %}
{% block content %}

        <table class=" table table-sm table-bordered">
              <thead>
    <tr>
      <th scope="col ">Автор</th>
      <th scope="col ">Название</th>
      <th scope="col ">Краткое описание</th>
      <th scope="col ">Дата выхода</th>
       <th scope="col ">Кол-во</th>
        <th scope="col ">Обложка</th>
    </tr>
  </thead>
  <tbody>


            {% for book in books %}
                <tr>
                    <td class="align-middle">{{ book.author }}</td>
                    <td class="align-middle">{{ book.title }}</td>
                    <td class="align-middle">{{ book.description }}</td>
                    <td class="align-middle">{{ book.year_release }}</td>
                    <td class="align-middle">{{ book.copy_count }}</td>
                    {% if book.img %}
                        <td><img src="/media/{{book.img}}" width="50" /></td>
                    {% else%}
                        <td><img src="{% static "book.jpg" %}" width="50" /></td>

                    {% endif %}
                    <td>

                    <div class="btn-group" role="group" aria-label="Basic example">

                        <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{book.id}}" />
                            <input type="submit" class="btn btn-secondary" value="+" />
                        </form>
                        <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{book.id}}" />
                            <input type="submit" class="btn btn-secondary" value="-" />
                        </form>
                    </div>

                    </td>
                </tr>
            {% endfor %}
              </tbody>
        </table>
    {% endblock %}
</body>
</html>